

body{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

p{
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

li{
    list-style: none;
    margin-right: 25px;
}




.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: white;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.titular{
    text-align: center;
    margin-top: 200px;
}

h1{
    font-size: 50px;
    margin: 0;
    color: white;
}

h2{
    font-size: 25px;
    margin-bottom: 40px;
    color: white;    
}

a{
    font-size: 14px;
    background: #5cb8ff;
    border-radius: 3px;
    padding: 20px;
    color: white;
    padding: 20px 30px 20px 30px;
}

header {
    background: url(background.jpeg);
    background-size: cover;
    height: 100vh;
}

#bold-text {
    font-weight: bold;
  }

  .container{
    max-width: 1280px;
    width: 90%;
    margin: auto;
  }